<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset= "UTF-8">
        <meta name= "viewport" content= "width= device-width, initial-scale =1">
        <title>To-Do List</title>
        {% load static %}
        <link rel= "stylesheet" href= "{% static 'css/app.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>

    <body>
        <div class= "container">
             <div class = "header">
                <div class= "cover-img">
                    <h1>My Travel To-Do List</h1>
                </div>
            </div>
            <div>
                <div class= "div_input">
                    <form class= "add" action="add-new-task">
                        <button class= "add-button">
                            <i class= "fas fa-plus"></i>
                        </button>


                        <a class= "add-button" href="/register">
    
                            <i class= "fas fa-plus"> Add Task</i>
                        </a>
                    </form>
                </div>
            </div>
            <!-- <div class="side-modal">
                <div class="modal-content">
                    <form>
                        <input type="text" placeholder="Add Name">
                        
                    </form>
                </div>
            </div> -->
        </div>
    </body>
</html> 