<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset= "UTF-8">
        <meta name= "viewport" content= "width= device-width, initial-scale =1">
        <title>Sign Up Form</title>
        {% load static %}
        <link rel= "stylesheet" href= "{% static 'css/register.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>

    <body id="body">
        <!-- <img src="{% static 'images/background.jpg' %}"> -->
        <div class="sign-up-form">
            <img src="{% static 'images/user-icon.png' %}">
            <h1>Sign Up Now</h1>
            <form action="" method="POST" id="form">
                {% csrf_token %}
                <input type="text" class="input-field" name="username" placeholder="Enter username here">
                <input type="email" class="input-field" name="email" required placeholder="Enter email here">
                <input type="password" class="input-field" name="password" placeholder="Enter password">
                <!-- <p><span>I agree to the terms and conditions</span></p> -->
                <input type="checkbox" id="check-btn" name="check-btn" value="confirm"/>
                <label for="check-btn">I agree to the terms and conditions</label>
                <button type="button" class="signup-btn" onclick="postData()">Sign up</button>
                <hr>
                <p class="or">OR</p>
                <button type="button" class="google-btn">Login with Google</button>
                <p>Do you have an account? <a href="{% url 'login' %}">Sign In</a></p>
            </form>
        </div>
    </body>
</html> 


<script>

    //get form data and post form data to server
    const form = document.querySelector('form');
    // const form = document.getElementsByName('email')
    // const form = document.querySelector('form');
    // const form = document.querySelector('form');
    // const form = document.querySelector('form');
    console.log(form.value)
    const data = Object.fromEntries(new FormData(form).entries());
    console.log(data)

    function postData(){
        document.getElementById('form').submit();
    }



</script>
