<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset= "UTF-8">
        <meta name= "viewport" content= "width= device-width, initial-scale =1">
        <title>To-Do Edit</title>
        {% load static %}
        <link rel= "stylesheet" href= "{% static 'css/dashboard.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>
    <body id="body">
        <div class="task-form">
            
            <p>Welcome {{user}}</p>

            <!-- <navbar>
                <ul class= "nav-list">
                    <li class="nav-item">
                        <button id="addBtn">
                            <i class="fas fa-plus"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <input type="text" class="tbox" placeholder="Search..."/>
                        <button class="searchBtn">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="logOut">Log Out</button>
                    </li>
                </ul>
            </navbar> -->

            <div class="item-list">
                <h2>Edit Task</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Update" name="edit_tasks">
                </form>
            </div>

            <div class="bg-modal">
                <div class="modal-contents">
                    <div class="close">+</div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <label >Task Name</label>
                            <input type="text" class="input-field" name="task_name" placeholder="">
                            <label>Task description</label>
                            <input type="text" class="input-field" name="task_desc" placeholder="">
                            
                            
                            <label>Status</label>
                            <select name="status" id="status">
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                              </select>
                           <br>
                            <label>Priority (between 1 and 3)</label>
                            <select name="priority" id="priority">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>

                            <br>
                            <label>Due date</label>
                            <input type="date" class="input-field" id="due_date" name="due_date">
                            
                            <br>
                            <input type="submit" onclick="postData()">
                            
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    document.getElementById('addBtn').addEventListener("click", function() {
	document.querySelector('.bg-modal').style.display = "flex";
});

document.querySelector('.close').addEventListener("click", function() {
	document.querySelector('.bg-modal').style.display = "none";
});

//get form data and post form data to server
const form = document.querySelector('form');
// const form = document.getElementsByName('email')
// const form = document.querySelector('form');
// const form = document.querySelector('form');
// const form = document.querySelector('form');
console.log(form.value)
const data = Object.fromEntries(new FormData(form).entries());
console.log(data)

function postData(){
    document.getElementById('form').submit();
}
</script>