body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}
#body{
    border: none;
    height: 100%;
    top: 0;
    width: 100%;
}
.task-form{
    width: 1000px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
    margin: 10% auto 0;
    text-align: center;
    border-radius: 10px;
}
.nav-list{
    background: white;
    box-shadow: 0px 0px 10px 0 #cfd8dc;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}
.logOut{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    background: #93dabb;
    border: black;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor:pointer;
    transition: all 200ms ease-in;
}
#addBtn{
    background: #93dabb;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 9px;
    vertical-align: middle;
    padding: 10px;
}
.searchBtn{
    width: 50px;
    background: #93dabb;
    height: 40px;
}
.tbox{
    padding: 10px;
    width: 300px;
}
.bg-modal{
    
	
	height: 100%;
	position: absolute;
	/* top: 0; */
	display: none;
	/* justify-content: center; */
    /* align-items: center; */
    
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
    margin: 10% auto 0;
    text-align: center;
    border-radius: 10px;
}
.modal-contents{
    height: 300px;
	width: 500px;
	background-color: white;
	text-align:left;
	padding: 30px;
	position: relative;
	border-radius: 4px;
}
.input-field{
    padding: 3px;
    width: 100%;
    border-radius: 6px;
    margin:10px 0;
    border: 1px solid #999;
    outline: none;
    height: 27px;
}
.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover {
    color: #666;
}