body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}
#body{
    border: none;
    height: 100%;
    top: 0;
    width: 100%;
    visibility: visible;
}
.sign-in-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10% auto 0;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
}
.sign-in-form h1{
    color: green;
    margin-bottom: 30px;
}
.input-field{
    padding: 3px;
    width: 100%;
    border-radius: 6px;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
    height: 27px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    margin: 5px 0;
    outline: none;
    cursor: pointer;
    text-align: center;
}
.signin-btn{
    background-color: wheat;
}
.signin-btn:hover{
    background-color: rgb(196, 155, 78);
}
/* {
    display: flex;
    margin-left: 10px;
} */
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 70%;
}
img{
    width: 70px;
    margin-top: 13px;
}